.primeraPagina{
display:block;
}
.segundaPagina{
display:none;
}

body{
    font-family: roboto;
    background-image: url("images/rosas2.jpg");
    background-size: 100%;
    }

  header{
    text-align: center;
    margin-top:25%;
    font-weight:bold;
    font-size: 140%;
    }
  section{
    margin-top:5%;
    text-align:center;
    }
  .texto{
    margin-right: 20%;
    margin-left:20% ;
    }
  .boton{
    margin-top:3%; 
    } 